<div class="devise__wrapper">
	<div class="logo"><%= show_svg('logo_oshare.svg') %></div>

	<h2>Join the Oshare Community</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %></div>

		<div><%= f.text_field :username, placeholder: "username" %></div>

		<div><%= f.text_field :firstname, placeholder: "name" %></div>


		<div>
			<%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
			<% if @minimum_password_length %>
				<h4>(<%= @minimum_password_length %> characters minimum)</h4>
			<% end %><br />
		</div>

		<div class="field">
			<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "re-enter password" %>
		</div>

		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
