<div class="toolbar">

	<!-- LOGO -->
	<!-- LOGO -->
	<!-- LOGO -->	
	<div class="nav__logo">
		<%= link_to stories_path do %>
			<%= show_svg('logo_oshare.svg') %>
		<% end %>
	</div>


	<!-- SEARCH -->
	<!-- SEARCH -->
	<!-- SEARCH -->
	<div class="nav__search">
		<%= show_svg('icon_search.svg') %>
	</div>


	<!-- PROFILE -->
	<!-- PROFILE -->
	<!-- PROFILE -->	
	<div class="nav__profile">
		<% if user_signed_in? %>
			<%= link_to user_path(current_user) do %>
				<div class="avatar__small">
					<%= render 'shared/avatar', obj: current_user %>
				</div>
			<% end %>
		<% else %>
			<%= link_to new_user_session_path do %>
				<div class="nav__profile-login"></div>
			<% end %>
		<% end %>
	</div>

	<!-- FAB -->
	<!-- FAB -->
	<!-- FAB -->
	<%= link_to new_story_path, class: 'footer__upload' do %>
		<div class="footer__upload_button">
			<div class="footer__upload_icon">+</div>
		</div>
	<% end %>

</div>